body{
	background-color: white;
}

div.w3-sidebar{
	background: black;
	color: white;
	font-family: cursive;
	font-size: 125%
}

.w3-container{
	background: black;
	color: white;
}

.w3-teal{
    background-color: #000!important;
}

.mg{
	font-family: cursive;
}

.title{
	font-size: 300%;
	text-align: center;
	text-decoration: underline;
}

.p1{
	font-family: cursive;
	font-size: 200%;
	text-align: left; 
	text-decoration: underline;
}

.PJ1{
	width: 60vh;
	height: 85vh;
	position: absolute;
	right: 50px;
	top: 735px;
	bottom: 0;
	margin: auto;
}

.PJ2{
	width: 100vh;
	height: 70vh;
	position: absolute;
	left: 50px;
	top: 735px;
	bottom: 0;
	margin: auto;
}

.espace{
	height: 85vh;
	background: black;
	color: black;
}

.es{
	height: 15vh;
	background: black;
	color: black;
}

.p2{
	font-family: cursive;
	font-size: 200%;
	text-align: left; 
	text-decoration: underline;
}

.PJ3{
	width: 85vh;
	height: 85vh;
	position: absolute;
	left: 10px;
	top: 3010px;
	bottom: 0;
	margin: auto;
}

.PJ4{
	width: 110vh;
	height: 85vh;
	position: absolute;
	right: 50px;
	top: 3010px;
	bottom: 0;
	margin: auto;
}

.space{
	height: 85vh;
	background: black;
	color: black;
}

.black{
	height: 10vh;
	background-color: black;
}

.contact{
	font-family: cursive;
	font-size: 150%;
	text-align: center;
	background: black;
	color: white;
	height: 5vh;
}